extends ../layout

block content
    h1= title
    div(class="panel panel-default" ng-controller="explainCtrl as vm" ng-init="vm.init()")
        div(class="panel-body")
            | 表示される物語を読み、その内容に最適だと思う音楽を選択してください。
            | フッターに表示されているパネルから、音楽を選択できます。
            br
            | 音楽を決定するには、【音階】【拍子】【リズム】の順番に、３回選ぶ必要があります。
            | ここでは、全ての音楽を試聴できます。
            br
            | 音楽の試聴が終わったら、読みたい小説のタイトルを選択し、アンケートを始めてください。
            br
            br
            div(class="panel panel-default")
                .panel-heading
                    Panel 小説一覧
                table.table
                    thread
                        tr
                            th DONE
                            th タイトル
                            th 年代
                            th 著者
                            th カテゴリ
                    tbody
                        tr(ng-repeat="novel in vm.novel")
                            td
                                span(class="glyphicon glyphicon-ok" style="color:green;" aria-hidden="true")
                            td
                                //a(href="/questionnaire/term/{{novel.id}}")
                                a(href="/questionnaire/novel/{{novel.id}}")
                                    {{novel.title}}
                            td {{novel.chronology}}
                            td {{novel.author_name}}
                            td {{novel.category_name}}
    include ../module/music.jade