extends ../layout

block content
    div(ng-show="!vm.is_confirm" ng-controller="novelCtrl as vm" ng-init="vm.init(#{id})")
        h1 {{vm.novel.title}}
        //{{vm.music_id}} {{vm.relation_novel_music}}
        p
            b authored by {{vm.novel.author_name}}
        p(ng-bind-html="vm.novel.paragraph[vm.paragraph_num-1].sentence")
        br
        br
        br
        br
        div(ng-show="!vm.is_confirm")
            include ../module/music.jade