extends ../layout

block content
    div(ng-controller="novelCtrl as vm" ng-init="vm.init(#{id})")
        div(ng-show="!vm.is_confirm")
            .page-header
                h1 {{vm.novel.title}}
                p
                    b authored by {{vm.novel.author_name}}
            p(ng-bind-html="vm.novel.paragraph[vm.paragraph_num-1].sentence")
            br
            button(class="btn btn-warning" role="button" ng-show="vm.paragraph_num-1!=0" ng-click="vm.return(0)") 前の段落に戻る
            br
            br
            br
            br
            br
            br
            include ../module/music.jade
        div(ng-show="vm.is_confirm")
            include ../module/result.jade
            .page-header
                h1 {{vm.novel.title}}
            p
                b authored by {{vm.novel.author_name}}
            p 回答を終了してよろしいですか？
            button(class="btn btn-primary" role="button" ng-click="vm.is_confirm=false; vm.return(1);" ng-disabled="item.$invalid") 戻る
            |　
            button(class="btn btn-primary" role="button" ng-click="vm.post('#{user}');" ng-disabled="item.$invalid") はい
